<div class="py-4 px-8 mx-8" *ngIf="{summariesList: summariesList$ | async} as data">

  <p-dataView [value]="data.summariesList?.items ?? []" [loading]="isLoading" [paginator]="true"
    [alwaysShowPaginator]="false" [rows]="defaultPageSize" emptyMessage="Данные не найдены" [lazy]="true"
    (onLazyLoad)="loadData($event)" [first]="firstRow" [totalRecords]="data.summariesList?.totalCount ?? 0"
    layout="grid">

    <ng-template pTemplate="header">
      <div class="p-3">
        <div class="font-medium text-3xl text-900 mb-3">Все конспекты</div>

        <div class="flex align-items-center">
          <p-selectButton (onChange)="onOrderChange($event)" [options]="orderOptions" [(ngModel)]="sortOrder"
            optionLabel="label" optionValue="value"></p-selectButton>

          <p-dropdown styleClass="ml-3" [options]="sortOptions" [(ngModel)]="sortField" placeholder="даты добавления"
            (onChange)="onSortChange($event)"></p-dropdown>
        </div>
      </div>
    </ng-template>

    <ng-template let-summary pTemplate="gridItem">
      <div class="col-12 p-3">
        <div class="grid surface-card p-4 shadow-2 border-round">
          <div class="col-6">
            <button pButton pRipple type="button" icon="pi pi-heart" label="{{summary.rating}}"
              class="p-button-outlined"></button>
            <button pButton pRipple type="button" [label]="summary?.chaptersNumber + ' ' +
                                      getPluralForm(summary?.chaptersNumber
                                      ?? 0,
                                      ['часть', 'части', 'частей'])" class="ml-2 p-button-outlined"></button>

            <div class="mt-3 mb-2 text-xl">
              <span class="mr-2">Автор конспекта:</span>
              <a class="text-primary font-semibold" [routerLink]="['/user/', summary.creator]">{{summary.creator}}</a>
            </div>
            <div class="mb-2 text-xl">
              <span class="mr-2">Метки:</span>
              <p-chip styleClass="mr-1 mt-1" *ngFor="let label of summary?.labels">
                <span class="p-1">{{label.name}}</span>
              </p-chip>
            </div>

            <div class="mb-2 text-xl">
              <span class="mr-2">Дата создания:</span>
              <span class="font-semibold">{{summary?.createdAt | date:'longDate'}}</span>
            </div>

            <div *ngIf="summary?.lastModified" class="mb-2 text-xl">
              <span class="mr-2">Последнее обновление:</span>
              <span class="font-semibold">{{summary?.lastModified | date:'longDate'}}</span>
            </div>

            <div class="mt-4 mb-2">
              <span class="block text-xl mb-2 font-semibold">О конспекте</span>
              <div>{{summary?.about}}</div>
            </div>

            <p-button [routerLink]="['/summary', summary.id]" styleClass="mt-3" label="Подробнее"></p-button>
          </div>
          <div class="col-1">
            <p-divider layout="vertical"></p-divider>
          </div>
          <div class="col-5">
            <div class="flex">
              <a [routerLink]="['/book', summary.book?.id]">
                <img class="book-cover mr-4" src="{{summary.book?.image}}" alt="book cover" width="160">
              </a>
              <div class="flex w-7 flex-column justify-content-end">
                <div class="font-medium text-2xl text-900 mb-2">
                  <a [routerLink]="['/book', summary.book?.id]">{{summary.book?.name}}</a>
                </div>
                <div class="text-500">
                  <a [routerLink]="['/author', author.id]"
                    *ngFor="let author of summary.book?.authors; last as isLastAuthor">
                    {{author.name + (!isLastAuthor ? ', ': '')}}
                  </a>
                </div>
              </div>
            </div>
            <div class="mt-3">
              <p-chip styleClass="mr-1 mt-1" *ngFor="let category of summary.book?.categories">
                <span class="tag-text p-1">{{category}}</span>
              </p-chip>
              <p-chip styleClass="mr-1 mt-1" *ngFor="let tag of summary.book?.tags">
                <span class="tag-text p-1">{{tag}}</span>
              </p-chip>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </p-dataView>
</div>