/* You can add global styles to this file, and also import other style files */

@import "styles/variables";
@import "styles/components/vertical-menu.scss";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;1,400&display=swap");

html,
body,
.container {
  height: 100%;
  margin: 0;
}

body,
.p-chip.p-component,
.p-button.p-component,
.p-dropdown.p-component .p-dropdown-label.p-inputtext,
.p-inputtext.p-component,
.p-dataview.p-component.p-dataview-grid {
  font-family: $main-font-family;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.p-dataview-header {
  background: none !important;
  border-width: 0 !important;
  padding: 0 !important;
}

@keyframes blockui-loader-animation {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.p-blockui-document {
  animation-delay: 200ms;
  animation-duration: 300ms;
  animation-fill-mode: both;
  animation-name: blockui-loader-animation;
}
