<div class="py-4 px-8 mx-8">
  <div class="surface-card p-6 shadow-2 border-round">
    <div class="font-medium text-3xl text-900 mb-3">Сборники</div>

    <div class="grid border-top-1 border-300">
      <div class="col-4 p-3">
        <div class="collection red-collection flex align-items-end cursor-pointer">
          <span class="text-2xl font-semibold text-white mb-3 ml-4">Любимое</span>
        </div>
      </div>

      <div class="col-4 p-3">
        <div class="collection green-collection flex align-items-end cursor-pointer">
          <span class="text-2xl font-semibold text-white mb-3 ml-4">Мой сборник 1</span>
        </div>
      </div>

      <div class="col-4 p-3">
        <div class="collection blue-collection flex align-items-end cursor-pointer">
          <span class="text-2xl font-semibold text-white mb-3 ml-4">Мой сборник 2</span>
        </div>
      </div>

      <div class="col-4 p-3">
        <div class="collection yellow-collection flex align-items-end cursor-pointer">
          <span class="text-2xl font-semibold text-white mb-3 ml-4">Мой сборник 3</span>
        </div>
      </div>

    </div>
  </div>
</div>